<div class = "modal-header">
	<span class = "modal-title">调整优先级</span>
	<span class = "eayunfont ef-close ey-font-huge" style = "cursor:pointer;" data-ng-click = "close()"></span>
</div>
<form class="form-horizontal" name="myForm" novalidate>
    <div class="ey-form-group has-feedback">
        <label class="col-sm-3 ey-form-label">调整规则：</label>

        <div class="col-sm-8">
            <span ng-bind="::fwRule.fwrName"></span>
        </div>
    </div>

	<div class="ey-form-group has-feedback">
        <label class="col-sm-3 ey-form-label">插入：</label>

        <div class="col-sm-8 ey-form-radio">
            <input type="radio" id="radio1" data-ng-model="local" data-ng-checked="true" value="pre"/><label for="radio1">前于</label>
            <input type="radio" id="radio2" data-ng-model="local" value="rear"/><label for="radio2">后于</label>
        </div>
    </div>

    <div class="ey-form-group has-feedback">
        <label class="col-sm-3 ey-form-label">规则名称：</label>

        <div class="col-sm-8 ">
            <eayun-select class="ey-form-select ey-form-w7" data-ng-model="reference" required>
                <eayun-option data-ng-if="fwRule.fwrName!=rulemodel.fwrName" value="rulemodel.fwrId" text="{{rulemodel.fwrName}}"
                              data-ng-repeat="rulemodel in pRuleList"></eayun-option>
            </eayun-select>
        </div>
    </div>
<!-- 按钮区域 -->
     <div class="ey-modal-footer">
		<div class="ey-btn-group">
      		<button type="button" class="btn btn-primary btn-modal" ng-click="commit()"  ng-disabled="!myForm.$valid">确  定</button>
      		<button type="button" class="btn btn-default btn-modal" ng-click="close()">取  消</button>
      	</div>
    </div>
</form>