<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 回收站资源删除 -->
	<bean id="cloudRecycleJob"
		class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.eayun.schedule.job.CloudRecycleDeleteJob"></property>
		<property name="durability" value="true"></property>
	</bean>

	<bean id="cloudRecycleTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="cloudRecycleJob"></property>
		<property name="cronExpression" value="0 0/5 * * * ? *"></property>
	</bean>
	
	<!-- 定时任务调度器 -->
	<bean class="com.eayun.common.job.EayunSchedulerFactoryBean" id="CloudRecycleSchedulerFactory">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="applicationContextSchedulerContextKey" value="applicationContextKey" />
		<property name="configLocation" value="classpath:quartz.properties" />
		<property name="triggers">
			<list>
				<ref bean="cloudRecycleTrigger" />
			</list>
		</property>
	</bean>
</beans>