<div class="ey-panel-body">
    <div class="ey-search-bar ey-search-bar-white ey-invoice-title">
        <button class="ey-btn ey-btn-primary" ng-disabled="list == null || list.length>=5" ng-click="add()"><span class="eayunfont ef-plus"></span>创建开票信息</button>
        &nbsp; &nbsp; &nbsp;<span class="ey-invoice-line"></span>
        <span class="ey-text-tip">当前还可以创建<span class="ey-color-blue">{{list == null ? 0 : 5 - list.length}}</span>个开票信息</span>
    </div>
    <eayun-table>
        <table class="ey-table">
            <thead>
                <tr>
                    <th>发票类型</th>
                    <th>抬头</th>
                    <th>创建时间</th>
                    <th>更新时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody><tr ng-repeat="item in list">
                    <td class="ey-color-blue">{{item.invoiceTypeName}}</td>
                    <td title="{{item.invoiceTitle}}">{{item.invoiceTitle}}</td>
                    <td>{{item.createTime| date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td>{{item.updateTime| date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td>
                        <button class="ey-invoice-btn" ng-if="item.defaultItem == '1'">默认</button>
                        <button class="ey-btn" ng-if="item.defaultItem != '1'" ng-click="setDefault(item.id)">设为默认</button>
                        {{item.defaultItem == '1' ? '' : '&nbsp;&nbsp;'}}
                        <button class="ey-btn" ng-click="edit(item)">编辑</button>
                        &nbsp;&nbsp;
                        <button class="ey-btn" ng-click="del(item.id)"><span class="ey-text-error">删除</span></button>
                    </td>
                </tr></tbody>
        </table>
    </eayun-table>
</div>