  <div style="background-color: #333333">
    <div class="container text-right" style="color: #dbdbdb;height: 30px;line-height: 30px;vertical-align: middle;">
      <span class="eayunfont ef-overview" style="font-size: 1.4em;margin-right: 2px; vertical-align: middle"></span><span>管理控制台</span>
    </div>
  </div>

  <div class="navbar navbar-default" style="padding: 5px 0">
    <div class="container" style="height: 40px;line-height: 40px;vertical-align: middle;">
      <div style="display: inline-block"><a href="http://www.eayun.cn/"><img class="" src="images/logo5.png" style="position: relative;top: -3px;">
        <span class="ey-font-hugest ey-text-tip" style="margin:0 10px">|</span>
        <span class="ey-text-tip ey-font-size-big">企业云 上易云</span>
        </a>
      </div>
      <div style="display: inline-block;font-size: 16px;"></div>
    </div>
  </div>