<div class = "ey-search-bar ey-search-bar-white">
	<eayun-select data-ng-model = "ProModel" show-length = "13">
   		<eayun-option value="pro"  text = "{{pro.dcName}}"data-ng-repeat="pro in cloudproList"></eayun-option>
	</eayun-select>
	<eayun-search-text value="params.poolName" search="query()" placeholder="请输入负载均衡名称搜索"></eayun-search-text>
</div>
	<div class="ey-content-progress" style="margin-bottom: 20px;">
		<ul style="margin-bottom:0px;">
			<li>不活跃成员百分比 = 不活跃成员个数 / 成员总数  * 100%</li>
		</ul>
	</div>
<eayun-table data-api="commonPageTable.api" data-ajax-source="commonPageTable.source" data-param="commonPageTable.getParams"
                data-result="commonPageTable.result">
      <table class="ey-table">
		<thead>
	        <tr>
	          <th>负载均衡名称</th>
	          <th>所属网络</th>
	          <th>IP地址</th>
	          <th>配置</th>
	          <th>健康检查</th>
	          <th>成员总数</th>
	          <th width = "14%">不活跃成员百分比</th>
	        </tr>
        </thead>
        <tbody><tr data-ng-repeat="model in commonPageTable.result">
	          <td title= "{{model.ldPoolName}}" class="click-td" data-ng-click="goCommonMonitorDetail(model.ldPoolId)" >{{model.ldPoolName}}</td>
	          <td title= "{{model.netName=='null'?'':model.netName}}">{{model.netName=='null'?'':model.netName}}</td>
	          <td style="line-height:1.5">
	          		<span>受管子网：{{model.vmIp=='null' ? '--':model.vmIp}}<br></span>
      				<span>公网：{{model.floatIp=='null' ? '--':model.floatIp}}</span>
	          </td>
	          <td title= "{{model.config=='null'?'':model.config}}">{{model.config=='null'?'':model.config}}</td>
	          <td title= "{{model.healthMonitor=='null'?'':model.healthMonitor}}">{{model.healthMonitor=='null'?'':model.healthMonitor}}</td>
	          <td>{{model.member}}</td>
	          <td ng-if="model.member!=0">
	          		<label class = "control-label diff-enlarge" data-ng-show = "model.expMemberDiff==1" style = "font-size:12px;">{{model.expMemberRatio | number:2}}%&nbsp;&nbsp;↑</label>
	          		<label class = "control-label diff-reduce" data-ng-show = "model.expMemberDiff==-1" style = "font-size:12px;">{{model.expMemberRatio | number:2}}%&nbsp;&nbsp;↓</label>
	          		<label class = "control-label" data-ng-show = "model.expMemberDiff==0" style = "font-size:12px;">{{model.expMemberRatio | number:2}}%&nbsp;&nbsp;</label>
	          		<label class = "control-label" data-ng-show = "model.expMemberDiff==0">—</label>
	          </td>
	          <td ng-if="model.member==0">--</td>
	        </tr></tbody>
      </table>
      <eayun-table-page></eayun-table-page>
</eayun-table>