<div class = "modal-header">
	<span class = "modal-title">创建防火墙</span>
	<span class = "eayunfont ef-close ey-font-huge" style = "cursor:pointer;" data-ng-click = "close()"></span>
</div>
<div class="model-body" style="width: 650px;">
<form class="form-horizontal ey-form" name="myForm" novalidate>
	<!-- <div class="ey-form-group has-feedback">
		<label class="col-sm-3 ey-form-label">所属项目：</label>
		<div class="col-sm-8"
			data-ng-class="(myForm.prjName.$dirty && myForm.prjName.$invalid) ? 'has-error' : ''">
			<eayun-select name="prjName" class="ey-form-select ey-form-w7"
				data-ng-model="model.project" ng-change="changeFwPolicy()"
				placeholder="请选择项目" required> <eayun-option value="''" text="全部"></eayun-option>
			<eayun-option value="project" text="{{project.prjName}}"
				data-ng-repeat="project in projects"></eayun-option> </eayun-select>
		</div>
		<label class="control-label ey-prompt"
			ng-show="myForm.prjName.$dirty && myForm.prjName.$error.required">项目不能为空</label>

	</div> -->

	<div class="ey-form-group has-feedback" data-ng-class="(myForm.name.$dirty && myForm.name.$invalid) ? 'ey-has-error' : ''">
		<label class="col-sm-3 ey-form-label ey-required">防火墙名称：</label>
		<div class="col-sm-8">
			<input type="text" class="ey-form-input ey-form-w7" name="name"
				data-ng-model="model.name" placeholder="请输入防火墙名称" maxlength="20"
				required ajax-valid="checkFireWallName(value)"> 
			<span class="ey-color-red" ng-show="myForm.name.$dirty && myForm.name.$error.required && !flag">请输入1-20位字符,支持数字、中英文、下划线、空格</span>
			<span class="ey-color-red" ng-show="myForm.name.$dirty && myForm.name.$error.ajaxValid&&!flag">防火墙名称已存在</span>
			<span class="ey-color-red" ng-if="flag">请输入1-20位字符,支持数字、中英文、下划线、空格</span>
		</div>
	</div>

	<!-- <div class="form-group has-feedback">
    <label class="col-sm-3 ey-label">防火墙策略：</label>
    <div class="col-sm-8" data-ng-class="(myForm.fwpName.$dirty && myForm.fwpName.$invalid) ? 'has-error' : ''">
      <eayun-select name="fwpName" class="form-control" data-ng-model="model.fwpId"   placeholder="请选择一个策略"  required>
        <eayun-option value="" text="请选择一个策略" selected></eayun-option>
        <eayun-option value="fwPolicy.fwpId" text="{{fwPolicy.fwpName}}" data-ng-repeat="fwPolicy in fwPolicys" ></eayun-option>
      </eayun-select>
      <label class="ey-prompt" ng-show="myForm.fwpName.$dirty && myForm.fwpName.$error.required">防火墙策略不能为空</label>
    </div>

	</div> -->
	<!-- 规则 -->
	<div class="ey-form-group has-feedback" data-ng-class="(myForm.rname.$dirty && myForm.rname.$invalid) ? 'ey-has-error' : ''">
    <label class="col-sm-3 ey-form-label ey-required">规则名称：</label>
    <div class="col-sm-8">
      <input type="text" class="ey-form-input ey-form-w7" name="rname" data-ng-model="model.rname"  placeholder="请输入规则名称" maxlength="20" required  ajax-valid="checkFwRuleName(value)">
      <span class="ey-color-red" ng-show="myForm.rname.$dirty && myForm.rname.$error.required&&!ruleflag">请输入1-20位字符,支持数字、中英文、下划线、空格</span>
      <span class="ey-color-red" ng-show="myForm.rname.$dirty && myForm.rname.$error.ajaxValid&&!ruleflag">规则名称已存在</span>
      <span class="ey-color-red" ng-if="ruleflag">请输入1-20位字符,支持数字、中英文、下划线、空格</span>
    </div>
  </div>
  
   <div class="ey-form-group has-feedback"  data-ng-class="(myForm.protocol.$dirty && myForm.protocol.$invalid) ? 'ey-has-error' : ''">
    <label class="col-sm-3 ey-form-label ey-required">协议：</label>
    <div class="col-sm-8 ">
      <eayun-select name="protocol" class="ey-form-select ey-form-w7" data-ng-model="model.protocol" data-ng-change="selectICMP()"  required>
      	<!-- <eayun-option value="" text="----选择一个协议----" selected></eayun-option> -->
		<eayun-option value="'tcp'" text="TCP" selected></eayun-option>
		<eayun-option value="'udp'" text="UDP"></eayun-option>
		<eayun-option value="'icmp'" text="ICMP"></eayun-option>
		<eayun-option value="'any'" text="所有"></eayun-option>
      </eayun-select>
      <span class="ey-color-red" ng-show="myForm.protocol.$dirty && myForm.protocol.$error.required">协议不能为空</span>
    </div>
  </div>
  
  <div class="ey-form-group"  data-ng-class="(myForm.source_ip_address.$dirty && myForm.source_ip_address.$invalid) ? 'ey-has-error' : ''">
    <label class="col-sm-3 ey-form-label">源IP地址：</label>
    <div class="col-sm-9">
      	<input type="text" data-ng-class="a1Error?'ey-has-error':''" class=" ey-form-input ey-form-w1" maxlength="3" data-ng-model="model.source_ip_address1" data-ng-change="checkTypeCidr('a1','focus')" data-ng-focus="checkTypeCidr('a1','focus')" data-ng-blur ="checkTypeCidr('a1','blur')">
		.
		<input type="text" data-ng-class="a2Error?'ey-has-error':''" class=" ey-form-input ey-form-w1" maxlength="3" data-ng-model="model.source_ip_address2" data-ng-change="checkTypeCidr('a2','focus')" data-ng-focus="checkTypeCidr('a2','focus')" data-ng-blur ="checkTypeCidr('a2','blur')">
		. 
		<input type="text" data-ng-class="a3Error?'ey-has-error':''" class=" ey-form-input ey-form-w1" maxlength="3" data-ng-model="model.source_ip_address3" data-ng-change="checkTypeCidr('a3','focus')" data-ng-focus="checkTypeCidr('a3','focus')" data-ng-blur="checkTypeCidr('a3','blur')">
		.
		<input type="text" data-ng-class="a4Error?'ey-has-error':''" class=" ey-form-input ey-form-w1" maxlength="3" data-ng-model="model.source_ip_address4" data-ng-change="checkTypeCidr('a4','focus')" data-ng-focus="checkTypeCidr('a4','focus')" data-ng-blur ="checkTypeCidr('a4','blur')">
		/
		<input type="text" data-ng-class="a5Error?'ey-has-error':''" class=" ey-form-input ey-form-w1" maxlength="3" data-ng-model="model.source_ip_address5" data-ng-change="checkTypeCidr('a5','focus')" data-ng-focus="checkTypeCidr('a5','focus')" data-ng-blur="checkTypeCidr('a5','blur')">

    </div>
	  <span style="padding-left:15px;" class="ey-text-tip" data-ng-class="!cidraError?'ey-has-error':''">{{sourrange}}</span>
  </div>
  
  <div class="ey-form-group has-feedback"  data-ng-class="(myForm.source_port.$dirty && myForm.source_port.$invalid) ? 'ey-has-error' : ''" ng-if="model.protocol!='any'&&model.protocol!='icmp'">
    <label class="col-sm-3 ey-form-label">源端口：</label>
    <div class="col-sm-9">
      <input type="text" class="ey-form-input ey-form-w7" name="source_port" data-ng-model="model.source_port"  placeholder="请输入源端口或端口范围 例如：80或80:100"   ajax-valid="checkSourcePort(value)">
      <!-- <label class="control-label" ng-show="myForm.source_port.$dirty && myForm.source_port.$error.required&&!isflag3">源端口/端口范围不能为空</label> -->
      <span class="ey-color-red" ng-if="isflag3">端口格式为A或A:B,其中A和B范围为1-65535,且B大于A</span>
    </div>
  </div>
  
  <div class="ey-form-group" data-ng-class="(myForm.destination_ip_address.$dirty && myForm.destination_ip_address.$invalid) ? 'ey-has-error' : ''">
    <label class="col-sm-3 ey-form-label">目的IP地址：</label>
    <div class="col-sm-9">
		<input type="text" data-ng-class="b1Error?'ey-has-error':''" class=" ey-form-input ey-form-w1" maxlength="3" data-ng-model="model.destination_ip_address1" data-ng-change="checkTypeCidr('b1','focus')" data-ng-focus="checkTypeCidr('b1','focus')" data-ng-blur ="checkTypeCidr('b1','blur')">
		.
		<input type="text" data-ng-class="b2Error?'ey-has-error':''" class=" ey-form-input ey-form-w1" maxlength="3" data-ng-model="model.destination_ip_address2" data-ng-change="checkTypeCidr('b2','focus')" data-ng-focus="checkTypeCidr('b2','focus')" data-ng-blur ="checkTypeCidr('b2','blur')">
		.
		<input type="text" data-ng-class="b3Error?'ey-has-error':''" class=" ey-form-input ey-form-w1" maxlength="3" data-ng-model="model.destination_ip_address3" data-ng-change="checkTypeCidr('b3','focus')" data-ng-focus="checkTypeCidr('b3','focus')" data-ng-blur="checkTypeCidr('b3','blur')">
		.
		<input type="text" data-ng-class="b4Error?'ey-has-error':''" class=" ey-form-input ey-form-w1" maxlength="3" data-ng-model="model.destination_ip_address4" data-ng-change="checkTypeCidr('b4','focus')" data-ng-focus="checkTypeCidr('b4','focus')" data-ng-blur ="checkTypeCidr('b4','blur')">
		/ 
		<input type="text" data-ng-class="b5Error?'ey-has-error':''" class=" ey-form-input ey-form-w1" maxlength="3" data-ng-model="model.destination_ip_address5" data-ng-change="checkTypeCidr('b5','focus')" data-ng-focus="checkTypeCidr('b5','focus')" data-ng-blur="checkTypeCidr('b5','blur')">

    </div>
	  <span style="padding-left:15px;" class="ey-text-tip" data-ng-class="!cidrbError?'ey-has-error':''">{{destrange}}</span>
  </div>
  
  
  <div class="ey-form-group has-feedback" ng-if="model.protocol!='any'&&model.protocol!='icmp'" data-ng-class="(myForm.destination_port.$dirty && myForm.destination_port.$invalid) ? 'ey-has-error' : ''">
    <label class="col-sm-3 ey-form-label"><nobr>目的端口：</nobr></label>
    <div class="col-sm-8">
      <input type="text" class="ey-form-input ey-form-w7" name="destination_port" data-ng-model="model.destination_port"  placeholder="请输入目的端口或端口范围 例如：80或80:100"   ajax-valid="checkDestinationPort(value)">
      <!-- <label class="control-label" ng-show="myForm.destination_port.$dirty && myForm.destination_port.$error.required&&!isflag4">目的端口/端口范围不能为空</label> -->
      <span class="ey-color-red" ng-if="isflag4">端口格式为A或A:B,其中A和B范围为1-65535,且B大于A</span>
    </div>
  </div>
  
  
  <div class="ey-form-group has-feedback"  data-ng-class="(myForm.action.$dirty && myForm.action.$invalid) ? 'ey-has-error' : ''">
    <label class="col-sm-3 ey-form-label">动作：</label>
    <div class="col-sm-8 ">
      <eayun-select name="action" class="ey-form-select ey-form-w7" data-ng-model="model.action" required>
      	<!-- <eayun-option value="" text="--选择一个动作--" selected></eayun-option> -->
		<eayun-option value="'allow'" text="允许" selected></eayun-option>
		<eayun-option value="'deny'" text="拒绝"></eayun-option>
      </eayun-select>
      <span class="ey-color-red" ng-show="myForm.action.$dirty && myForm.action.$error.required">动作不能为空</span>
    </div>
  </div>

	<!-- 按钮区域 -->
	<div class="ey-modal-footer">
		<div class="ey-btn-group">
    		<button type="button" class="ey-btn ey-btn-primary btn-modal" ng-click="commit()"  ng-disabled="!myForm.$valid || !cidraError || !cidrbError">确  定</button>
    		<button type="button" class="ey-btn ey-btn-default btn-modal" ng-click="close()">取  消</button>
  		</div>
  	</div>
</form>
</div>