<!-- 导航页签 -->
<!-- <nav class="ey-nav-online">
  <a ui-sref-active="active" data-ui-sref="app.safety.safetybar.firewall.list">防火墙</a><a ui-sref-active="active" ng-show="modulePower.isFireWallView"
   data-ui-sref="app.safety.safetybar.firewall.policy">防火墙策略</a><a ui-sref-active="active" ng-show="modulePower.isFireWallView"
                                                                   data-ui-sref="app.safety.safetybar.firewall.rule">防火墙规则</a>
</nav> -->
<!-- 子页面展示区 -->
<div data-ui-view=""></div>

