<div class="modal-header">
    <span class="modal-title">修改密码</span> 
    <span class="eayunfont ef-close ey-font-huge" data-ng-click="cancel()"></span>
</div>
<div class="modal-body" style = "width:600px;">
	<form class="ey-form" name = "editword" novalidate>
	  <div class="ey-form-group has-feedback"
	   data-ng-class="(checkcommit)&&!(editword.oldword.$dirty && editword.oldword.$invalid) ? '' : 'ey-has-error'">
	    <label class="ey-form-label ey-required">原密码：</label>
    		<input type="password" style="display:none" data-ng-show = "false">
	      	<input type="password" name = "oldword" class="ey-form-input" data-ng-model = "passmodel.oldPassword" required style = "width: 300px;" data-ng-change = "changeOld()">
	      	<span data-ng-show="editword.oldword.$dirty && editword.oldword.$error.required">请输入原密码</span>
	      	<span data-ng-show="!checkcommit">原密码不正确，请重新输入</span>
	  </div>
	  <div class="ey-form-group" data-ng-class="(editword.newword.$dirty && editword.newword.$invalid) ? 'ey-has-error' : ''">
	    <label class="ey-form-label ey-required">请输入新密码：</label>
	      <input type="password" name = "newword" class="ey-form-input" data-ng-model="passmodel.newPassword"  required maxlength="20"
	       data-ng-pattern = "/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,20}$/" style = "width: 300px;" data-ng-change="checkNoSame()">
	      <span class="ey-text-tip" data-ng-hide="editword.newword.$dirty && editword.newword.$invalid" class="help-block">密码长度为6-20位，且必须包含英文字母与数字</span>
	      <span data-ng-show="editword.newword.$dirty && editword.newword.$error.required">请输入新密码</span>
	      <span data-ng-show="editword.newword.$dirty && editword.newword.$error.pattern">密码长度为6-20位，且必须包含英文字母与数字</span>
	  </div>
	  
	  <div class="ey-form-group" data-ng-class="(editword.second.$dirty && (editword.second.$invalid || !IsSame)) ? 'ey-has-error' : ''">
	    <label class="ey-form-label ey-required">请再次输入新密码：</label>
	      <input type="password" name = "second" class="ey-form-input" data-ng-model="passmodel.secondPassword"  required maxlength="20" 
	      data-ng-pattern = "/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,20}$/" data-ng-change="checkIsSame()" style = "width: 300px;">
	      <span data-ng-show="editword.second.$dirty && editword.second.$error.required">请输入新密码</span>
	      <span data-ng-show="editword.second.$dirty && editword.second.$error.pattern">密码长度为6-20位，且必须包含英文字母与数字</span>
	      <span data-ng-show="editword.second.$dirty && (!IsSame) && editword.second.$valid">两次输入密码不一致</span>
	  </div>
	</form>
</div>
<div class="ey-modal-footer">
	<div class="ey-btn-group">
		<button class="ey-btn ey-btn-primary" data-ng-click="commit()" ng-disabled="editword.$invalid || (!IsSame)" type = "button">确定</button>
		<button class="ey-btn ey-btn-default" data-ng-click="cancel()" type = "button">取 消</button>
	</div>
</div>