<div class="modal-header" style="width: 750px;">
    <span class="modal-title">修改权限</span>
    <span class="eayunfont ef-close ey-font-huge" data-ng-style="{'cursor':(authorize.btnWait ? 'not-allowed' : 'pointer')}" data-ng-click="cancel()"></span>
</div>
<div class="modal-body">
    <span>
        <span>账号：</span>
        <span data-ng-bind="authorize.accountName"></span>
        <br><br>
    </span>
    <eayun-select-two-way list-data="authorize.listData" text-field="databaseName" headers="数据库" title="数据库" pre-title="未授权的, 已授权的">
    </eayun-select-two-way>
</div>

<!-- 按钮区域 -->
<div class="ey-modal-footer">
    <div class="ey-btn-group">
        <button type="button"
                class="ey-btn ey-btn-primary"
                data-ng-click="commit()"
                data-ng-disabled="authorize.btnWait">
            确定
        </button>
        <button type="button"
                class="ey-btn ey-btn-default"
                data-ng-click="cancel()"
                data-ng-disabled="authorize.btnWait">
            取 消
        </button>
    </div>
</div>
