<div class="ey-nav">
	<!-- <eayun-select ng-cloak class="ey-form-w3" style="float:left;" data-ng-model="model.projectvoe" show-length="14" ng-if="type!='detail'">
	    <eayun-option ng-repeat="project in cloudprojectList" value="project" text="{{project.dcName}}"></eayun-option>
	</eayun-select> -->
	<ul class="ey-nav-bread">
		<!-- <li data-ui-sref="app.record">备案中心</li> -->
		<li data-ui-sref={{item.route}} data-ng-repeat="item in navLists">{{item.name}}</li>
		<li>{{cucrentName}}</li>
	</ul>
</div>
<div class="ey-divider "></div>

<div class="ey-panel ey-panel-full clearfix" style= "position: relative; ">
  <div class="">

    <div data-ui-view=""></div>
  </div>
</div>