<div>
	<ul class="ey-question-list">
		<li><a class="ey-text-link" data-ng-click="gotoQuestion('question1')">1.提交备案材料</a></li>
		<li><a class="ey-text-link" data-ng-click="gotoQuestion('question2')">2.备案需要多少时间完成</a></li>
		<li><a class="ey-text-link" data-ng-click="gotoQuestion('question3')">3.如何进行备案信息的查询</a></li>
		<li><a class="ey-text-link" data-ng-click="gotoQuestion('question4')">4.什么是前置审批</a></li>
		<li><a class="ey-text-link" data-ng-click="gotoQuestion('question5')">5.变更备案，是否可以变更备案主体</a></li>
		<li><a class="ey-text-link" data-ng-click="gotoQuestion('question6')">6.一个账号是否支持多主体备案</a></li>
		<li><a class="ey-text-link" data-ng-click="gotoQuestion('question7')">7.网站名称要求</a></li>
		<li id="question1"><a class="ey-text-link" data-ng-click="gotoQuestion('question8')">8.基本名词解释</a></li>
	</ul>
	<div class="ey-divider"></div>
	<h4 class="ey-font-size ey-color-blue">1.提交备案材料</h4>
	
	<p>易云通过初审的客户，请将下列材料准备齐全（包括纸质版材料、对应的电子版和备案照片），并邮寄给我们。北京地区客户可将材料送至我司现场核验。</p>
	
	<h5 class="ey-font-size" style="margin: 40px 0 20px 0;font-weight: bold;">纸质材料&电子版</h5>

	<p>1. <span class="ey-color-blue"><a href="ecsc/record/downRecordQuestionFile.do?name=网络备案信息真实性核验单&link=http://beian.eayun.cn/FCKUploadFiles/2016_10_25_17_14_10_41045.doc">《网络备案信息真实性核验单》</a></span>，<span class="ey-color-red">签名+加盖公章+电子版</span>；单位类型：<span class="ey-color-red">单位</span></p>

	<p>2. <span class="ey-color-blue"><a href="ecsc/record/downRecordQuestionFile.do?name=互联网信息安全承诺书&link=http://beian.eayun.cn/FCKUploadFiles/2016_10_25_17_14_49_17897.doc">《互联网信息安全承诺书》</a></span>，客户在“客户（签字 盖章）”处<span class="ey-color-red">加盖公章+网站负责人签名+日期</span></p>

	<p>3. <span class="ey-color-blue"><a href="ecsc/record/downRecordQuestionFile.do?name=网站信息备案登记表&link=http://beian.eayun.cn/FCKUploadFiles/2016_10_25_17_15_15_40245.doc">《网站信息备案登记表》</a></span>，请按照格式填写真实的网站设备信息；备案类型：<span class="ey-color-red">新增备案</span></p>

	<p>4. 网站负责人身份证复印件，公司法人身份证复印件</p>

	<p>5.企业证件复印件<span class="ey-color-red">加盖公章</span>（例如：组织机构代码证或营业执照）</p>

	<p>6. 域名证书，域名证书上的注册人必须是备案的公司名称。（没有可不提供）</p>

	<p>7. <span  class="ey-color-blue"><a href="ecsc/record/downRecordQuestionFile.do?name=单位备案委托书&link=http://beian.eayun.cn/FCKUploadFiles/2016_10_25_17_13_47_59110.doc">单位备案委托书</a></span>（网站负责人非法人时使用），<span class="ey-color-red">亲笔签字后+加盖公章</span></p>
 
 	<h5 class="ey-font-size" style="margin: 40px 0 20px 0;font-weight: bold;">办理拍照</h5>
 
 	<p>8.  网站负责人携带以上证件资料到我司拍摄幕布照片，或申请我司邮寄幕布，也可自行制作。并将照片转换成JPG格式（不超过100K）发送至我司邮箱，备注您的相关备案信息。</p>

	<h5 class="ey-font-size" style="margin: 40px 0 20px 0;font-weight: bold;">邮寄地址</h5>
 
 	<p>北京市海淀区中关村南大街9号理工科技大厦808室</p>

	<p>备案专员邮箱：yashu.sun@eayun.com</p>

	<p id="question2">联系电话：086-010-6066396</p>

	<p>QQ：1064127799</p>
	
	<h4  class="ey-font-size ey-color-blue" id="question3" style="margin-top:40px;">2.备案需要多少时间完成？</h4>
	
	<p>时间跟各省的通管局审核有关，一般在20个工作日左右完成，备案通过或拒绝会有短信及邮件通知。 建议您统筹安排 ICP 备案及服务器部署。</p>
	
	<h4  class="ey-font-size ey-color-blue" id="question4" style="margin-top:40px;">3.如何进行备案信息的查询</h4>
	
	<p>登录工信部ICP/IP地址域名信息备案管理系统网站（www.miitbeian.gov.cn）点击右下角的“公共查询”在备案查询下选择备案信息查询，任意输入一项即可。另外，找回备案密码和修改备案密码也可在这里进行提交处理。</p>
	
	<h4  class="ey-font-size ey-color-blue" style="margin-top:40px;">4.什么是前置审批</h4>
	
	<p>客户在我司备案系统中提交网站备案，如果客户涉及新闻、出版、教育、医疗保健、医药和医疗器械、电子公告服务、博客、WAP网站、文化、广播电影电视节目等内容，需要如实勾选，并在备案前，得到相关部门批准后才能进行备案。</p>
	
	<h5 class="ey-font-size" style="margin: 40px 0 20px 0;font-weight: bold;">办理方法：</h5>
	
	<p>前置审批资料的办理，需要各企事业单位主动找相关部门申请，个人无法办理前置审批文件。</p>
	
	<h5 class="ey-font-size" style="margin: 40px 0 20px 0;font-weight: bold;">相关单位：</h5>
	
	<p>新闻--地方新闻办公室（省级）</p>
	
	<p>出版--地方新闻出版局（省级）</p>
	
	<p>教育--地方教育委员会（省级）</p>
	
	<p >医疗保健、药品和医疗器械--地方食品药品监督管理局（省级）</p>
	
	<p id="question5" >广播电影电视节目--地方广播电影电视局（省级）</p>
	
	<p>文化--地方文化局（省级）</p>

	<h4  class="ey-font-size ey-color-blue"  id="question6" style="margin-top:40px;">5.变更备案，是否可以变更备案主体</h4>
	
	<p>无论是变更主体信息，还是将企业主体变更成个人主体都是不允许的，只能注销备案信息再重新备案，详细操作请联系备案专员。</p>
	
	<h4  id="question7"  class="ey-font-size ey-color-blue" style="margin-top:40px;">6.一个账号是否支持多主体备案</h4>
	
	<p >支持一个账号多主体备案，但是备案主体目前只支持企业（不支持个人）。每次备案只能备案一个主体，多主体备案请分批次进行备案操作。备案网站个数不限制，为保证管局顺利通过，请确认备案网站真实有效合法。</p>
	
	<h4  class="ey-font-size ey-color-blue"style="margin-top:40px;">7. 网站名称要求</h4>
	
	<h5 class="ey-font-size" style="margin: 40px 0 20px 0;font-weight: bold;">网站名称基本要求：</h5>
	
	<p>A.非国家级单位网站名称不能包含“中国”、“中华”、“国家”、“人民”、“地名”等字样</p>
	
	<p>B.网站名称不能是纯数字、纯英文、不能包含特殊符号和敏感词汇（反腐、赌博等）</p>
	
	<p>C.网站名称要能体现网站的内容</p>
	
	<p>D.网站名称要求三个字以上（含三个字）</p>
	
	<p>E. 企业网站名称推荐使用公司全称或简称作为网站名称，多个网站的名称一样也是可以的。</p>
	
	<h5 class="ey-font-size" style="margin: 40px 0 20px 0;font-weight: bold;">举例：</h5>
	
	<p>A.工作经验分享类网站：网页制作经验谈、小工具应用、xxxx的研发日志、前端经验分享、自动化测试开源、文字极客、个人开发测试使用网站、php开发等等</p>
	
	<p>B.摄影作品分享：我的照片墙、雕刻时光、xxx的工作室、我的摄影小空间、我的作品展览等等</p>
	
	<p>C.个人生活感悟：人生百味、吃货分享、美食分享、xxx的专属空间、快乐小窝、柠檬草的味道、一起考研吧、怀念时光、时光飞逝、电影爱好小分享、个人杂货铺、我的生活秀等等。</p>
	
	<p>以上举例仅供参考，请勿抄袭上述网站名称，名称使用过多会被列入通信管理局黑名单。</p>
	
	<h4  class="ey-font-size ey-color-blue" id="question8" style="margin-top:40px;">8. 基本名词解释</h4>
	
	<p>一级域名：一级域名也叫顶级域名，abc.com即为一级域名，a.abc.com为二级域名；几级域名不单单是以符号“.”的个数来定，例如abc.edu.cn也是一级域名，因为edu.cn本身也是一个域名后缀。</p>

	<P>主体：办理备案的个人或者单位均称为本案主体。</P>

	<p>主体负责人：单位办理备案时填写的主办单位负责人，一般建议填写公司法人。</p>

	<p>网站负责人：单位办理备案时填写的网站负责人，负责网站建设等工作，可以填写法人也可以根据实际情况填写相关负责人。</p>

	<p>接入商：提供网站搭建平台并协助客户办理备案的即为接入商，在此文档中接入商主要指我们易云公司。</p>

	<p>主体备案号：主体的备案号，例如京ICP备15022358号。</p>

	<p>网站（域名）备案号：在主体备案号下的域名备案号，同一主体下的不同域名备案，以-1、-2等进行区分，例如ICP备15022358号-1。</p>

	<p>首次备案：域名未备案，备案主体证件无备案号，需要备案。</p>

	<p>新增网站：主体已经在我司备案过，需要给其他网站进行备案。</p>
	
	<p>变更接入：域名在别的接入商备案过，需要变更接入商。</p>

	<p>变更备案：已在我司备案过，需要修改之前备案的网站内容（备案主体不能修改）。</p>
</div>
