<div class="panel panel-default clearfix">
	<div class="panel-body">
	<form class="form-inline form-count">
	<div class="row" style = "margin-bottom:20px;">
		<div class="form-group">
			<div class="col-sm-12">
				<label class="control-label" style="margin-left:20px;font-weight:bold;">主机名称：</label>
				<label class="control-label">{{VmModel.vmName}}</label>
				<label class="control-label" style="margin-left:20px;font-weight:bold;">操作系统：</label>
				<label class="control-label">{{VmModel.osType=='null'?'':VmModel.osType}}</label>
			</div>
		</div>
	</div>
	<div class="row" style = "margin-bottom:0px;">
	 <div class="form-group">
		<div class="col-sm-12">
			<label class="control-label" style="margin-left:20px;">截止时间：</label>
				<date-time-picker data-init="[]" name="endTime" data-ng-model="data.endTime" class="form-group" show-time = "true" max-date="today" required></date-time-picker>
		      	<span style="margin-left:15px;"></span>
		      	<eayun-select data-ng-model="data.timeRange">
		        	<eayun-option value="3" text="30分钟" selected></eayun-option>
		        	<eayun-option value="5" text="1小时"></eayun-option>
		        	<eayun-option value="30" text="6小时"></eayun-option>
		        	<eayun-option value="60" text="12小时"></eayun-option>
		        	<eayun-option value="120" text="1天"></eayun-option>
		        	<eayun-option value="720" text="7天"></eayun-option>
		      	</eayun-select>
		</div>
		</div>
	</div>
	</form>
		<div data-ui-view=""></div>
	</div>
</div>
