    <ul class="ey-nav-bread">
        <li data-ui-sref="app.net.netbar.vpn">VPN</li>
        <li>续费</li>
    </ul>
    <h4>订单确认</h4>
    <div class="ey-warm" ng-show="warningMessage!=''"><span class="eayunfont ef-warning ey-font-size-big"></span><span>{{warningMessage}}</span></div>
    <table class="ey-order-table">
        <tbody>
        <tr>
            <td>产品名称</td>
            <td>VPN-续费</td>
            <td>产品数量</td>
            <td>1个</td>
        </tr>
        <tr>
            <td>购买周期</td>
            <td>
                <span ng-show="model.cycle>=12">{{model.cycle/12}}年</span>
                <span ng-show="model.cycle<12">{{model.cycle}}个月</span>
            </td>
            <td>付款方式</td>
            <td>预付费</td>
        </tr>
        <tr>
            <td>具体配置</td>
            <td colspan="3">
                <p>数据中心：{{model.dcName}}</p>
                <p style="width:200px">VPN名称：{{model.vpnName}}</p>
                <p style="width:400px">本端网络：{{model.vpnNetwork}}</p>
                <p style="width:400px">本端子网：{{model.vpnSubnet}}</p>
                <p style="width:400px">对端网关：{{model.vpnPeerAddress}}</p>
                <p style="width: 95%; word-break: break-all;">对端子网：{{model.vpnPeerCidrs}}</p>
            </td>
        </tr>
        <tr>
            <td>金额</td>
            <td class="ey-color-red" colspan="3" ><strong>￥&nbsp;{{model.chargeMoney|number:2}}</strong></td>
        </tr>
        </tbody>
    </table>
    <div class="ey-pay-panel">
        <div class="ey-pay-body">
            <table>
                <tbody>
                <tr>
                    <td width="30px"><span class="eayunfont ef-wallet ey-font-hugest ey-color-yellow-dark"></span></td>
                    <td width="110px">使用余额支付：</td>
                    <td width="20px">
                        <div class="ey-form-checkbox">
                        	<input type="checkbox" id="check1" ng-model='model.isSelected' data-ng-click="calculateDeduction()" data-ng-disabled="model.balance <= 0">
                        	<label for="check1"></label>
                        </div>
                    </td>
                    <td width="60px">余额支付</td>
                    <td width="20px"><span class="ey-text-tip">|</span></td>
                    <td width="200px"><span class="ey-text-tip">可用金额&nbsp;</span><span
                            class="ey-color-blue">￥{{model.balance > 0 ? (model.balance | number :2) : (0.00 | number :2)}}&nbsp;</span></td>
                    <td width="110px" ng-show="model.isSelected"><span class="ey-text-tip">扣除&nbsp;</span><span class="ey-color-red">￥ {{model.deduction|number:2}}</span>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
    <ul class="ey-order-list">
        <br/>
        <li class="ey-font-size-big"><span>产品金额：</span><span>￥ {{model.chargeMoney|number:2}}</span></li>
        <li class="ey-font-size-big"><span>余额支付：</span><span>￥ -{{model.deduction|number:2}}</span></li>
        <div class="divider"></div>
        <li class="ey-font-size-bigger ey-font-bold">
            <span>应付款：</span>
            <span class="ey-color-red ey-font-size-superior">￥ {{model.payable|number:2}}</span>
        </li>
        <li>
            <button class="ey-btn ey-btn-primary" data-ng-click="submitOrder()" data-ng-disabled="!canSubmit">提交订单</button>
        </li>
    </ul>