<!-- 导航页签 -->
<!--<tabs class="nav-tabs-online">-->
  <!--<tab ui-sref-active="active" data-ui-sref="app.net.netbar.loadbalance.poollist">负载均衡器</tab>-->
  <!--<tab ui-sref-active="active" data-ui-sref="app.net.netbar.loadbalance.healthmonitor">健康检查</tab>-->
<!--</tabs>-->
<nav class="ey-nav-online">
  <a ui-sref-active="active" data-ui-sref="app.net.netbar.loadbalance.poollist">负载均衡器</a><a ui-sref-active="active" data-ui-sref="app.net.netbar.loadbalance.healthmonitor">健康检查</a>
</nav>

<!-- 子页面展示区 -->
<div data-ui-view=""></div>