<div class="clearfix">
  <div class="" style="height:250px;margin:25px;">
  <h2 style="margin-left:13px"><span class="ey-color-blue">对象存储服务EOS</span></h2>
  <div class="pull-left col-lg-12" style="width:680px; margin-top:30px">
		  <span style="margin-top:30px;color:#737373;font-size: 16px;line-height:20px;">对象存储服务是基于对象的安全、高可靠和易用的海量云存储服务。存储容量自动弹性扩容，让用户在节约成本的同时无需担心数据量的增加。多副本、分布式的存储技术确保数据安全可靠永不丢失。现已支持CDN内容加速服务，使Bucket中文件传输的更快、更稳定。</span>
		    <button type="button" class="btn btn-primary btn-sm" style="margin-top:50px"
			data-ng-click="openService()" ng-disabled="openDis">
				 开通服务
			</button>
	</div>
      
  </div>
	<p class="help-block text-left"><a style="color:red ;margin-left:30px">*</a> 有关对象存储其他内容请点击：<a target="blank" href="http://www.eayun.com/product/eos/list.shtml">产品详情</a>、<a target="blank" href="http://www.eayun.com/document/api/list.shtml">开发文档</a></p>
	<div class="pull-right"
           style="height:422px;margin-bottom:5%;margin-right:100px">
  			<img src="images/obsopen.png">
      </div>
  
</div>
