
<!-- Tab panes -->
<div class="tab-content">
	<div role="tabpanel" class="tab-pane active" id="appCloudhostHDTable">
		<!-- Form表单 -->
		<form class="form-inline">
		<div class="ey-search-bar ey-search-bar-white">
			<button type="button" class="ey-btn ey-btn-primary ey-btn-sm" ng-show="buttonPower.isSecretKeyAdd" data-ng-click="addSecretKey()">
				<span class="eayunfont ef-plus" aria-hidden="true"></span> 创建密钥
			</button>

			<!-- <div class="input-group has-feedback search-group" style="float: right;">
				<input type="text" class="form-control" placeholder="请输入名称搜索" data-ng-model="name"> 
				<span class="form-control-feedback pointer search" data-ng-click="queryFireWall()"></span>
			</div> -->
			<eayun-search-text value="name" search="queryFireWall()" placeholder="请输入密钥名称搜索"></eayun-search-text>
        </div>
		</form>
		<!-- 表格 -->
		<eayun-table data-api="myTable.api" data-ajax-source="myTable.source" data-param="myTable.getParams" data-result="myTable.result">
		<table class="ey-table">
			<thead>
				<tr>
					<th>密钥名称</th>
					<th>云主机绑定数量</th>
					<th>创建时间</th>
					<th class="col-sm-3">操作</th>
				</tr>
			</thead>
			<tbody><tr data-ng-repeat="key in myTable.result">
					<td ng-if="buttonPower.isSecretKeyDetail" data-ui-sref="app.safety.secretkeyDetail({skid: key.secretkeyId})" class="ey-text-link" title="{{key.secretkeyName}}">{{key.secretkeyName}}</td>
					<td ng-if="!buttonPower.isSecretKeyDetail" title="{{key.secretkeyName}}">{{key.secretkeyName}}</td>
					<td>{{key.countnum}}</td>
					<td>{{key.createTime|date : 'yyyy-MM-dd HH:mm:ss'}}</td>

					<td class="col-sm-2">
						<button class="ey-btn" ng-show="buttonPower.isSecretKeyBind && buttonPower.isSecretKeyUnBind" data-ng-click="bindVm(key.secretkeyId)">绑定/解绑云主机</button>
						<button class="ey-btn btn-left" ng-show="buttonPower.isSecretKeyUpdate" data-ng-click="edtimSk(key.secretkeyId)">修改</button>
						<button class="ey-btn btn-left ey-color-red" ng-show="buttonPower.isSecretKeyDelete&&key.countnum>0" data-ng-click="deletadSk(key.secretkeyId,key.secretkeyName)" ng-disabled="key.countnum>0" title="解绑云主机后可删除密钥">删除</button>
						<button class="ey-btn btn-left ey-color-red" ng-show="buttonPower.isSecretKeyDelete&&key.countnum==0" data-ng-click="deletadSk(key.secretkeyId,key.secretkeyName)" ng-disabled="key.countnum>0">删除</button>
					</td>
				</tr></tbody>
		</table>
		<eayun-table-page></eayun-table-page> </eayun-table>
	</div>
</div>

<div style="display: none;">
	<iframe id="excel-export-iframe" frameborder="0"></iframe>
</div>