<!-- 导航页签 -->
<nav class="ey-nav-online">
    <a data-ui-sref-active="active" data-ng-show="modulePower.isPublicImageView" data-ui-sref="app.cloud.cloudhost.image.publicimage">公共镜像</a>
	<a data-ui-sref-active="active" data-ng-show="modulePower.isImageView" data-ui-sref="app.cloud.cloudhost.image.customerimage">自定义镜像</a>
	<a data-ui-sref-active="active" data-ng-show="modulePower.isMarketImageView" data-ui-sref="app.cloud.cloudhost.image.marketimage">市场镜像</a>
 </nav>
<!-- 子页面展示区 -->
<div data-ui-view=""></div>



