<div class="second-menu-page">
  <div class="second-menu">
	<expander class="second-menu-target expander" ui-sref-active="active" style="margin-top:7px;" data-target="#second-menu-resouce-first" data-expander-show="true">
    	<span class="icon toggle" style="margin-left:-10px;margin-right:2px"></span>
    	<span><font style="font-weight:bold">云数据库监控</font></span>
  	</expander>
    <div class="second-menu-group" id="second-menu-resouce-first">
    	<div class="second-menu-item" ui-sref-active="active" data-ui-sref="app.rds.monitor.resmntimg.monitorCPU">CPU利用率</div>
    	<div class="second-menu-item" ui-sref-active="active" data-ui-sref="app.rds.monitor.resmntimg.monitorRam">内存占用率</div>
    	<div class="second-menu-item" ui-sref-active="active" data-ui-sref="app.rds.monitor.resmntimg.monitorVol">磁盘使用率</div>
    	<div class="second-menu-item" ui-sref-active="active" data-ui-sref="app.rds.monitor.resmntimg.monitorNet">网卡速率</div>
    	<div class="second-menu-item" ui-sref-active="active" data-ui-sref="app.rds.monitor.resmntimg.monitorDisk">磁盘速率</div>
    	
    </div>
  </div>
  <div class="second-menu-right">
  	<div data-ui-view=""></div>
  </div>
</div>
