<!-- 子页面展示区 -->
<div>
<div class="second-menu-page">
  <div class="second-menu">
	<expander class="second-menu-target expander" ui-sref-active="active" style="margin-top:7px;" data-target="#second-menu-resouce-first" data-expander-show="true">
    	<span class="icon toggle" style="margin-left:-10px;margin-right:2px"></span>
    	<span><font style="font-weight:bold">主机监控</font></span>
  	</expander>
    <div class="second-menu-group" id="second-menu-resouce-first">
    	<div class="second-menu-item" ui-sref-active="active" data-ui-sref="app.cloud.cloudhost.monitor.resmntimg.monitorCPU">CPU</div>
    	<div class="second-menu-item" ui-sref-active="active" data-ui-sref="app.cloud.cloudhost.monitor.resmntimg.monitorRam">内存</div>
    	<div class="second-menu-item" ui-sref-active="active" data-ui-sref="app.cloud.cloudhost.monitor.resmntimg.monitorDisk">硬盘</div>
    	<div class="second-menu-item" ui-sref-active="active" data-ui-sref="app.cloud.cloudhost.monitor.resmntimg.monitorNet">网络</div>
    </div>
  </div>
  <div class="second-menu-right">
  	<div data-ui-view=""></div>
  </div>
</div>
</div>
