<div class="modal-header">
    <span class="modal-title">添加报警联系人</span> <span class="eayunfont ef-close ey-font-huge" data-ng-click="cancel()"></span>
</div>

<div class="modal-body" style="width: 680px;height:350px;">
    <form class="form-horizontal" name="addalarmcontact">
    <div class="pull-left" style="width: 300px;"><span style="font-size:12px;">待选报警联系人：</span>
        <div class="list-group-eayun" style="width:280px;" >
            <div title="点击添加">
                <expander data-target="#second-menu-allContacts" data-expander-show="false">
                    <div>
                        <span class="glyphicon glyphicon-chevron-down" style="cursor:pointer;font-size:12px;padding-left:10px;">
                            <strong>全部联系人</strong>
                        </span>
                        <div style="font-size:12px;float:right;padding-top: 5px;">
                            <a role="button" data-ng-click = "addAllContactsIgnoringGroup()">整组添加</a>
                        </div>
                    </div>
                </expander>
                <div id="second-menu-allContacts">
                  <div data-ng-repeat="ctc in allContactsList"
                    style="cursor:pointer;font-size:12px;padding-left:50px;padding-top:5px;"
                    data-ng-click="add(ctc)">{{ctc.contactName}}（{{ctc.contactMethod}}）</div>
                </div>
            </div>
            <div data-ng-repeat="contactGroup in availableContactGroups" title="点击添加">
                <expander data-target="#second-menu-{{contactGroup.contactGroupId}}" data-expander-show="false">
                    <div>
                        <span class="glyphicon glyphicon-chevron-down" style="cursor:pointer;font-size:12px;padding-left:10px;">
                            <strong>{{contactGroup.contactGroupName.length > 12?contactGroup.contactGroupName.substring(0, 12)+'...':contactGroup.contactGroupName}}</strong>
                        </span>
                        <div style="font-size:12px;float:right;padding-top: 5px;">
                            <a role="button" data-ng-click = "addAllContactsInGroup(contactGroup.contactList)">整组添加</a>
                        </div>
                    </div>
                </expander>
                <div id="second-menu-{{contactGroup.contactGroupId}}">
                  <div data-ng-repeat="contact in contactGroup.contactList"
                    style="cursor:pointer;font-size:12px;padding-left:50px;padding-top:5px;"
                    data-ng-click="add(contact)">{{contact.contactName}}（{{contact.contactMethod}}）</div>
                </div>
            </div>
        </div>
    </div>

    <div class="pull-right" style="width:300px;padding-left:20px;"><span style="font-size:12px;">已选择报警联系人：&nbsp;&nbsp;<span class="click-td">{{selectedNumber}}</span></span>
        <div class="list-group-eayun" style="width:280px;">
            <div data-ng-repeat="alarmContact in selectedAlarmContacts"
                style="cursor:pointer;font-size:12px;padding-left:5px;padding-top:5px;"
                data-ng-click="del(alarmContact)" title="点击移除">
                {{alarmContact.contactName}}（{{alarmContact.contactMethod}}）
            </div>
        </div>
    </div>

    <div class="select-list-md">
        <span class="glyphicon glyphicon-menu-right" style="font-size: 2em"></span>
    </div>
    </form>
</div>

<div class="ey-modal-footer">
    <div class="ey-btn-group">
        <button type="button" class="ey-btn ey-btn-primary"
                ng-click="commit()">确  定</button>
        <button type="button" class="ey-btn ey-btn-default"
                ng-click="cancel()">取  消</button>
    </div>
</div>
