<div class="modal-header">
    <span class="modal-title">查看配置文件</span>
    <span class="eayunfont ef-close ey-font-huge" data-ng-click="showDetailDefault.cancel()"></span>
</div>
<div class="modal-body" style="width: 820px;">
    <div class="ey-row">
        <span class="ey-font-size-bigger" ng-bind="showDetailDefault.configType"></span>
        <span class="ey-font-size-bigger">：</span>
        <span class="ey-font-size-bigger" ng-bind="showDetailDefault.configName"></span>
    </div>
    <div>
        <!--<eayun-table>-->
        <table class="ey-table" style="margin-top: 20px;">
            <thead>
                <tr>
                    <th style="width: 208px;">参数名</th>
                    <th style="width: 181px;">类型</th>
                    <th style="width: 183px;">参数值</th>
                    <th >参数范围</th>
                </tr>
            </thead>
            <tbody class="ey-table-overflow" style="width: 779px;height: 500px" >
                <tr data-ng-repeat="param in showDetailDefault.paramsList">
                    <td style="width: 200px;" ng-bind="param.name"></td>
                    <td  style="width: 190px;" ng-bind="param.type"></td>
                    <td  style="width: 190px;" ng-bind="param.currentParamValue"></td>
                    <td style="width: 190px;"  ng-if="param.type=='int'"><span ng-bind="(param.minSize + ' - ' + param.maxSize)|showInfo" title="{{(param.minSize + ' - ' + param.maxSize)}}"></span></td>
                    <td style="width: 190px;" ng-if="param.type=='string'"><span ng-bind="param.optionValues|showInfo" title="{{param.optionValues}}"></span></td>
                </tr>
            </tbody>
        </table>
        <!--</eayun-table>-->
    </div>
    <div class="ey-btn-group" style="text-align: center">
        <button type="button" class="ey-btn ey-btn-primary" ng-click="showDetailDefault.cancel()">关闭</button>
    </div>
</div>