<br>

 <div>
 	<!-- <div class="ey-content-progress">
 		<p>变更备案无法变更主体信息，只能变更网站信息，若想变更主体，请联系备案专员</p>
 	</div>
 	<h4>请选择已有备案</h4> -->
 	<div>
 		<eayun-table data-api="unitlist.myunitTable.api" data-ajax-source="unitlist.myunitTable.source" data-param="unitlist.myunitTable.getParams" data-result="unitlist.myunitTable.result" >
 		
 			
		      <table class="ey-table">
		        <thead >
			        <tr>
			          <th>主体单位</th>
			          <th>主体备案号</th>
			          <th>创建时间</th>
			          <th class="col-sm-3">操作</th>
			        </tr>
		        </thead>
		        <tbody><tr data-ng-repeat="model in unitlist.myunitTable.result">
		          		<td class="ey-text-link" title="{{model.unitName}}">{{model.unitName}}</td>
		           		<td>{{model.recordNo}}</td>
		          		
		          		<td>{{model.createTime|date : 'yyyy-MM-dd HH:mm:ss'}}</td>
		          		<td class="col-sm-2">
		          	  		<a class="ey-btn" ng-click="unitlist.unitwebsdetail(model)">查看详情</a>
		          	  		
		          		</td>
		          		
		          		
		        	</tr>
		        </tbody>
		      </table>
		   
		     
		    
		   <eayun-table-page></eayun-table-page>
		 </eayun-table>
		 </form>
 	</div>
 </div>