<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">

	<dubbo:reference id="mailService" interface="com.eayun.mail.service.MailService" />

	<dubbo:reference id="smsService" interface="com.eayun.sms.service.SMSService" />
	
	<dubbo:reference id="datacenterSyncService" interface="com.eayun.schedule.service.DatacenterSyncService" />
	
	<!-- <dubbo:reference id="scheduleService" interface="com.eayun.schedule.service.ScheduleService" /> -->
	
	<!-- 提供方应用信息，用于计算依赖关系 -->
	<dubbo:application name="dubbo_ecmc" />

	<!-- 使用zookeeper注册中心暴露服务地址 -->
	<dubbo:registry address="${dubbo.registry.address}" />

</beans>