<div class="modal-header">
    <span class="modal-title">管理角色</span> 
    <span class="eayunfont ef-close ey-font-huge" data-ng-click="cancel()"></span>
</div>
<div class="modal-body" style = "width:600px;">
<eayun-table>
  <table class="table table-eayun">
  <tbody>
    <tr>
      <td>账号</td>
      <td>{{usermodel.userAccount}}</td>
    </tr>
    <tr>
      <td>账号说明</td>
      <td><div style = "word-wrap:break-all;word-break:break-all;">{{usermodel.userExplain}}</div></td>
    </tr>
    </tbody>
  </table>
</eayun-table>
<h5>选择角色：</h5>
<eayun-table data-api="roleTable.api" data-ajax-source="roleTable.source" data-param="roleTable.getParams" data-result="roleTable.result">
  <table class="ey-table ey-table-auto">
    <thead>
    <tr>
      <th width="10%"></th>
      <th>角色名称</th>
      <th>角色说明</th>
    </tr>
    </thead>

    <tbody><tr data-ng-repeat="model in roleTable.result" data-ng-hide = "model.roleName=='root'||model.roleName=='超级管理员'">
      <td>
      <div class = "ey-form-radio">
      		<input type="radio" name="rolesId" value="{{model.roleId}}" data-ng-model = "usermodel.roleId" id = "{{model.roleId}}">
      		<label for = "{{model.roleId}}"></label>
  		</div>
      </td>
      <td>{{model.roleName}}</td>
      <td>{{model.roleDesc}}</td>
    </tr></tbody>
  </table>
</eayun-table>
</div>
  <div class="ey-modal-footer">
	<div class="ey-btn-group">
		<button class="ey-btn ey-btn-primary" data-ng-click="commit()" type = "button">确  定</button>
		<button class="ey-btn ey-btn-default" data-ng-click="cancel()" type = "button">取 消</button>
	</div>
</div>