
<!-- 导航页签 -->
<!--<tabs class="nav-tabs-underline">-->
  <!--<tab-underline ui-sref-active="active" data-ui-sref="app.net.netbar.net">私有网络</tab-underline>-->
  <!--<tab-underline ui-sref-active="active" data-ui-sref="app.net.netbar.loadbalance" data-ng-show = "modulePower.isLdBalance">负载均衡</tab-underline>-->
  <!--<tab-underline ui-sref-active="active" data-ui-sref="app.net.netbar.floatip" data-ng-show = "modulePower.isFloatView">弹性公网IP</tab-underline>-->
<!--</tabs>-->


  <!-- 子页面展示区
<div class="panel panel-default clearfix">
  <div class="panel-body">-->
    <div data-ui-view=""></div>
  <!--</div>-->
<!--</div>-->