<div>
    <form name="editNetworkNameTable" novalidate="novalidate">
        <div class="col-md-10"
             data-ng-class="netNameEditable
                            && (editNetworkNameTable.netName.$dirty
                            && (editNetworkNameTable.netName.$invalid || checkNetworkName)) ? 'ey-has-error' : ''"
             style="padding-left: 0px;">
            <input class="ey-form-input"
                   name="netName"
                   type="text"
                   maxlength="20"
                   placeholder="请输入网络名称"
                   data-ng-model="netWork.netName"
                   ng-change="checkNetworkNameExist(netWork)"
                   ng-pattern='/^[\u4e00-\u9fa5a-zA-Z0-9]([\u4e00-\u9fa5_a-zA-Z0-9\s]{0,18}[\u4e00-\u9fa5a-zA-Z0-9]){0,1}$/'
                   required>
            <span class="ey-text-tip ey-text-error hide" style="padding-top:17px;"
                   data-ng-class="(netNameEditable
                                && editNetworkNameTable.netName.$dirty
                                && editNetworkNameTable.netName.$invalid) ? 'show' : 'hide'">
                <span>请输入1-20位字符,支持数字、中英文、下划线、空格</span>
            </span>
            <span class="ey-text-tip ey-text-error hide" style="padding-top:17px;"
                   data-ng-class="(editNetworkNameTable.netName.$dirty
                                && editNetworkNameTable.netName.$valid
                                && checkNetworkName) ? 'show' : 'hide'">
                <span>网络名称已存在</span>
            </span>
        </div>
        <span class="badge hide"
              style="margin-left:10px;background-color:green;color:#ffffff;"
              data-ng-class="netNameEditable
                            &&(editNetworkNameTable.netName.$dirty
                            &&(editNetworkNameTable.netName.$valid
                            && !checkNetworkName && checkEditBtn)) ? 'show' : 'hide'"
              data-ng-click="saveEdit()">
            <span class="glyphicon glyphicon-ok"></span>
        </span>
        <span class="badge"
              data-ng-click="cancelEdit()">
            <span class="glyphicon glyphicon-remove"></span>
        </span>
    </form>
</div>
