<div class="modal-header" style="width: 600px;">
    <span class="modal-title">绑定公网IP</span> 
    <span class="eayunfont ef-close ey-font-huge" data-ng-click="cancel()"></span>
</div>
<div class="modal-body">
	<form class="ey-form " name="myForm" novalidate>
		<fieldset>
		 	<div class="ey-form-group">
				<label class="ey-form-label">IP地址：</label>
				<eayun-select class="ey-form-w6" placeholder="请选择IP" data-ng-model="model.float" name="floatip" required>
					<eayun-option ng-repeat="flo in floats" value="flo" text = "{{flo.floIp}}" ></eayun-option>
				</eayun-select>
			</div>
		 </fieldset>
		
	</form>
</div>

<!-- 按钮区域 -->
<div class="ey-modal-footer">
	<div class="ey-btn-group">
		<button type="button" class="ey-btn ey-btn-primary"
			ng-click="commit()" ng-disabled="!myForm.$valid || checkToken">确定</button>
		<button type="button" class="ey-btn ey-btn-default"
			ng-click="cancel()">取 消</button>
	</div>
</div>
