<div style="background-color: #FFFFFF;position: fixed;top: 0;bottom: 0;left: 0;right: 0;overflow: auto;">
	<div ng-include="'views/sys/top.html'"></div>
	<div class="container">
		<br/><br/><br/>
    	<fieldset>
    		<div class="form-group row">
    			<div class="col-md-4" style="text-align:right;">
    				<img src="images/right.png" style="height: 74px;">
   				</div>
   				<div class="col-md-6">
   					<br/>
   					<label class="control-label"><font size="4px">注册申请已经提交，工作人员会尽快联系您，</font></label>
   					<br/>
   					<label class="control-label"><font size="4px">如有问题请致电400-606-6396</font></label>
   				</div>
    		</div>
    		<div class="form-group row">
    			<div class="col-md-5 col-md-offset-4">
   					<a href="http://www.eayun.cn/"><font size="2px">返回首页></font></a>
    			</div>
    		</div>
    	</fieldset>
    	<br/><br/><br/>
    	<footer ng-include="'views/sys/bottom.html'"></footer>
    </div>
 </div>