<div style="width:400px;" class="modal-dialog">
	<div class="modal-content clearfix">
	    <div class="modal-header">
	        <span class="modal-title">付款确认</span>
	        <!-- <span class="eayunfont ef-close ey-font-huge" ng-click="close()"></span> -->
	    </div>
	    <div class="modal-body">
	        <p class="ey-text-tip">您已跳转至第三方支付平台，请您确认支付状态</p>
	    </div>
	    <div class="modal-footer">
	        <div class="ey-btn-group">
	            <button class="ey-btn ey-btn-primary-light" ng-click="confirmPaid()">我已支付完成</button>
	            <button class="ey-btn ey-btn-default-light" ng-click="hasProblem()">支付遇到问题</button>
	        </div>
	    </div>
	</div>
</div>